@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

body{
    width:100%;
    margin: auto;
}
a{
    /*gets rid of the underline*/
    text-decoration: none;
    color: #FFF;
}
.container{
    width:960px;
    margin: 0 auto;
}
.header{
    background: #000000;
    width: 100%;
    top: 0;
    position: fixed;
}
.logo{
    float:left;
    font-family: Helvetica;
    font-size: 15px;
}
.one-fourth{
    width: 25%;
    float:left;
    text-align: center;
}
ul {
    list-style-type: none;
}
/*list items inside of the unordered list*/
nav ul li{
    font-family: 'Alegreya sans', sans-serif;
    font-size: 150%;
    /*allows the navigation to be side by side by side*/
    display: inline-block;
    float: left;
    padding: 10px;
}
nav ul li a{
    color: #F5F5F5;
}
nav ul li a.hover{
    color: #C3D7DF;
}

nav {
    float: right;
/*--- Top right bottm left --*/
    padding: 0px 20px 0 0;
}
.li{
    float: left;
}
p{
    font-family: 'Alegreya', sans-serif;
    font-size: 160%;
    color: #000000;
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}
img{
    max-width: 1500px;
    height: auto;
    width: auto;
    margin-bottom: -4px;
    margin-left: -200px;
    margin-top: 50px;
}
#user{
    background-color: #393939;
    padding-top: 6%;
}
#projects{
    background-color: #393939;
    padding-top: 6%;
}
#designs{
    background-color: #393939;
    padding-top: 6%;
}
#blog{
    background-color: #393939;/*or 565454 or 666666 272727 393939 1A1A1A*/
    padding-top: 6%;
}
.one-fourth i{
     color: #F0F0F0;
     font-size: 500%;
     padding: 10% 0 3% 0;
 }
h2 {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
    color: #F5F5F5;
}
h3{
    font-size: 175%;
    /*line-height: 500%;*/
    <!-- 5% top and bottom & 0 left and right-->
    padding-top: 500px;
    font-weight: 400;
    color: #FFFFFF; /* Or #000000 for black */
}

/*
.banner{
    width: 100%;
}
.banner-inner{
    max-width; 100%;
    margin: 0 auto;
}
*/
